body{
    background-color: rgb(89, 78, 216);
}
.imgCal{
    height: 20rem;
    
}
td{
    color: rgb(243, 106, 106);
}
.title{
    background-image: url(../TP/img/cal.jpg);
    height: 20rem;
}

}

table{
    color: black;
}
th{
    color: rgb(180, 101, 101);
    text-decoration: underline;
}

